/* Callout box - fixed position at the bottom of the page */
.callout {
    position: fixed;
    top: 80px;
    right: 20px;
    margin-left: 20px;
    width: 300px;
    transition: opacity 0.6s;
    border-radius: 4px 4px 0 0; ;
    box-shadow: 0px 0px 5px #1a4030;
}

/* Callout header */
.callout-header {
    padding: 15px 15px;
    background: #1b4332;
    font-style: italic;
    font-size: 16px;
    color: white;
}

/* Callout container/body */
.callout-container {
    padding: 15px;
    background-color: white;
    font-size: 12px;
    color: black;
    border: 1px solid #1b4332;
}

.callout-container:hover{
    background: lightgrey;
}

/* Close button */
.closebtn {
    position: absolute;
    top: 5px;
    right: 15px;
    color: white;
    font-size: 30px;
    cursor: pointer;
}

/* Change color on mouse-over */
.closebtn:hover {
    color: #f1f0f0;
}
