section{
    margin: 12px;
}

form {
    text-align: left;
    border-style: solid;
    border-color: #ffc300;
    border-radius: 4px;
    padding: 20px 50px 20px 50px;
    width: 800px;
    height: auto;
    overflow-y: auto;
    overflow-x: hidden;
}

.headimage{
    position: relative;
    left: 33%;
}
.picture{
    width: 35%;
    border-radius: 100%;
}

form h3{
    text-align: center;
}

form h4{
    margin-top: 20px;
}

label{
    margin-top: 7px;
}

form .submit{
    width: 45%;
    height: 45px;
    position: relative;
    right: 4%;
    margin-bottom: 25px;
}

form .annuleren{
    width: 40%;
    height: 45px;
    position: relative;
    left: 14%;
    margin-bottom: 25px;
}

.form-check-input{
    margin-top: 10px !important;
}
